html {
  // See: https://www.rucksackcss.org/docs/#responsive-type
  font-size: responsive 16px 32px;
  font-range: 420px 920px;
}

h1 {
  color: $title-color;
}

a {
  font-weight: 600;
  text-decoration: underline;
}
